body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.main {
    background-color: var(--bg-color);
    margin: 0;
    padding: 20px;
}

.h1 {
    font-size: var(--h1-size);
    color: var(--h1-color);
    text-shadow: 4px 4px 0px rgba(255, 0, 112, 0.5);
}

.description {
    font-size: var(--font-size-base);
    color: var(--font-color);
    margin-top: 10px;
}

.logo_line {
    display: flex;
}

.logo {
    margin-top: 100px;
    height: 50px;
}

.spacer {
    background-color: #00C8BE;
    font-style: bold;
    min-width: 355px;
    max-height: 100px;
    margin-left: 5px;
    margin-right: 10px;
}
