body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  font-family: "Khula"
}

.main {
  background-color: #faf8f4; 
  padding: 2rem 1.5rem;      
  margin-top: 1rem;              
  border-radius: 16px;       
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03); 
  width: 100%;              
  max-width: 600px;          
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.h1 {
  font-size: var(--h1-size);
  color: var(--h1-color);
}

.description {
  font-size: var(--font-size-base);
  margin-top: 10px;
}

.logo {
  margin-top: 50px;
  margin-left: 286px;
  height: 50px;
}

.spacer {
  background-color: transparent;
  font-style: bold;
  color: var(--h1-color);
  min-width: 355px;
  max-height: 100px;
  margin-left: 5px;
  margin-right: 10px;
}

.header {
  position: relative;
  width: 375px;
  max-height: 668px;
  box-sizing: border-box;
}

/* Выбери раздел */
.main-block-choice {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 213px;
  min-height: 400px;
  font-family: "Khula";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #2f304e;
  background-color: --h1-color;
}

.rectangle-graphic {
  width: 135.86px;
  height: 137px;
  left: 200.97px;
  top: 321px;
  background: #d9d9d9;
  border-radius: 15px;
  border-color: transparent;
}

.text-block {
  text-decoration: none;
  max-width: 74.44px;
  left: 231.67px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f304e;
}
