:root {
    --bg-color: #2F304E;
    --accent-color: #FF0070;
    --font-family: 'Khula', monospace;
    --font-size-base: 20px;
    --h1-size: 64px;
    --h1-color: #F4F1EA;
    --font-color: #2F304E;
}